* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

#logo {
    font-weight: bold;
    font-size: 2rem;
}

.text-primary {
    color: rgb(255, 255, 255);
}

#navbar {
    background-color: gray;
    color: lightblue;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    flex-wrap: wrap;
}

#navbar a {
    color: lightblue;
    text-decoration: none;
}

#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar ul li a {
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover {
    background-color: lightblue;
    border-radius: 5px;
    color: black;
}

@media only screen and (max-width: 700px) {
    #navbar ul {
        margin-top: 1rem;
    }
}

html, body, .container {
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}